<!DOCTYPE html>
<html>
    <head>
        <title>about</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="./css/style.css">
        <body>
            <div class="main-content">
               {{>header}}
               <img class="portrait" src="./img/robot.png" alt="" srcset="">
               <p>{{title}}</p>
            </div>
            {{>footer}}
        </body>
    </head>
</html>